.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
*.dll
*.DS_Store
*.html
*.mod
dev/
pkg/vignettes/r3P-ReferenceManual.R
pkg/vignettes/r3PG-ReferenceManual.R
pkg/vignettes/r3PG-ReferenceManual.md
pkg/vignettes/r3PG-ReferenceManual.R
pkg/vignettes/r3PG-ReferenceManual.md
pkg/vignettes/r3PG-ReferenceManual.R
